
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>
    Webgeeks chat
</title>

<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
<div class="container">

  <h1>Webgeeks Chat</h1>
  <p class="lead">Say hi, yo.</p>

  <div class="row">
    <div class="well col-lg-8">
      <div class="page-header">
        <h1>Chat Room</h1>
      </div>
      <div class="row">
        <div class="col-lg-10">

          <ul class="media-list">
            <li class="media">
              <a class="pull-left" href="#">
                <img src="http://cdn2.iconfinder.com/data/icons/picons-essentials/57/user-128.png" alt="">
              </a>
              <div class="media-body">
                <h4 class="media-heading" data-nickname="Waylon Kayden">Waylon Kayden</h4>
                <p>"Jujubes gummi bears"</p>
              </div>
            </li>
            <hr>
            <li class="media">
              <a class="pull-left" href="#">
                <img src="http://cdn2.iconfinder.com/data/icons/picons-essentials/57/user-128.png" alt="">
              </a>
              <div class="media-body">
                <h4 class="media-heading" data-nickname="Waylon Kayden">Joe</h4>
                <p>"Jujubes gummi bears Jujubes gummi bears Jujubes gummi bears Jujubes gummi bears"</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="presence col-lg-4">
      <h4>Who's here?</h4>
      <ul id="name-list">
      </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
      <div class="">
      <form action="#" method="post" id="sendmessage">
        <input type="text" name="message" id="message" value="" class="col-lg-10">
        <button type="submit" class="btn col-lg-2 btn-success ">Send</button>
      </form>
      </div>
    </div>

  </div>

</div> <!-- /container -->


    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/socket.io/socket.io.js"></script> 
<script src="/javascripts/jquery-min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/app.js"></script>
  </body>
</html>
