
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>
    Webgeeks chat
</title>

<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Webgeeks Chat! <small> -- ¡Hola!</small></h1>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <h3><span class="text-muted">Chat Room:</span> Main</h3>
          <div id="messages-container" class="well chat-messages">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
          </div>
          <form action="#" method="post" id="sendmessage" class="chat-send">
            <div class="row">
              <div class="col-4">
                <input type="text" name="user-handle" placeholder="Anonamous" id="nickname">
              </div>
              <div class="input-group col-8">
                <input type="text" name="message" id="message" value="">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">Send</button>
                </span>
              </div>
            </div>
          </form>

        </div>
        <div class="presence col-lg-4">
          <h4>Lurkers <span class="badge">0</span></h4>
          <ul id="user-list" class="list-group">
            <li class="list-group-item">Updating list...</li>
          </ul>
        </div>

      </div>
      <div class="row">

      </div>

    </div> <!-- /container -->


        <!-- JS and analytics only. -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/socket.io/socket.io.js"></script> 
    <script src="/javascripts/jquery-min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
