
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>
    Webgeeks chat
</title>

<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
<div class="container">

  <h1>Webgeeks Chat</h1>
  <p class="lead">Say hi, yo.</p>

  <div class="row">
    <div class="chat col-lg-8">
      <h4>Chat Channel</h4>
      <div class="row">
        <div class="chat-messages col-lg-10 col-offset-2">
          <ul>
            <li data-nickname="Waylon Kayden">Jujubes gummi bears</li>
            <li data-nickname="Bennie Lovell">Tootsie roll pie dragée dessert chupa chups</li>
            <li data-nickname="Bennie Lovell">Powder I love applicake apple pie donut croissant muffin cheesecake</li>
            <li data-nickname="Marshal Kevin">Fruitcake apple pie icing marzipan wafer I love marshmallow</li>
            <li data-nickname="Melville Lowell">Toffee tiramisu dragée I love sugar plum sugar plum</li>
            <li data-nickname="Waylon Kayden">Jelly lemon drops toffee bonbon toffee carrot cake I love jujubes</li>
            <li data-nickname="Jaxson Nickolas">Soufflé apple pie dessert jujubes muffin</li>
            <li data-nickname="Waylon Kayden">Caramels carrot cake croissant chupa chups jelly-o gingerbread macaroon I love danish</li>
            <li data-nickname="Marshal Kevin">Sugar plum icing I love jelly beans cheesecake gummi bears lemon drops jelly beans</li>
            <li data-nickname="Bennie Lovell">Lemon drops icing gummi bears bear claw I love. Fruitcake pudding bear claw fruitcake bonbon gummi bears brownie</li>
            <li data-nickname="Jaxson Nickolas">Halvah pastry candy canes ice cream lollipop</li>
            <li data-nickname="Waylon Kayden">danish cheesecake powder bear claw</li>
            <li data-nickname="Melville Lowell">Tiramisu candy canes powder I love ice cream</li>
            <li data-nickname="Waylon Kayden">Soufflé croissant dragée powder gummies ice cream</li>
            <li data-nickname="Jaxson Nickolas">Cupcake muffin dragée</li>
            <li data-nickname="Jaxson Nickolas">Jelly tart lollipop brownie</li>
            <li data-nickname="Bennie Lovell">Cotton candy cotton candy I love tart croissant I love sugar plum cotton candy oat cake</li>
            <li data-nickname="Marshal Kevin">Gummi bears tiramisu jelly-o tootsie roll sugar plum tart chocolate</li>
            <li data-nickname="Waylon Kayden">Topping liquorice sweet jelly beans macaroon I love sweet</li>
            <li data-nickname="Waylon Kayden">Tart tart pastry sesame snaps I love jujubes brownie jelly-o chocolate bar</li>
            <li data-nickname="Jaxson Nickolas">Fruitcake biscuit marshmallow I love pudding I love brownie muffin</li>
            <li data-nickname="Melville Lowell">Marzipan biscuit I love pie sugar plum</li>
            <li data-nickname="Bennie Lovell">Pudding I love chocolate cake chocolate I love chupa chups ice cream dessert</li>
            <li data-nickname="Brad Shelly">Sit amet cheesecake tiramisu I love.</li>
            <li data-nickname="Brad Shelly">Cupcake ipsum dolor.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="chat-send col-lg-10 col-offset-2">
        <form action="#" method="post" id="sendmessage">
          <input type="text" name="message" id="message" value="" class="col-lg-10">
          <button type="submit" class="btn col-lg-2 btn-success ">Send</button>
        </form>
        </div>
      </div>
    </div>
    <div class="presence col-lg-4">
      <h4>Who's here?</h4>
      <ul>
        <li>Brad Shelly</li>
        <li>Bennie Lovell</li>
      </ul>
    </div>
  </div>

</div> <!-- /container -->


    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/socket.io/socket.io.js"></script> 
<script src="/javascripts/jquery-min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/app.js"></script>
  </body>
</html>
